/* 폰트 */
@font-face{
    font-family:'bitbit';
    src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
}

*{
    font-family: 'bitbit';
}
/* 바디 */
body {
margin: 0;
font-family: "medimate";  
}

/* 현준이가 전달해준 메인 바 코드 */
li {
    list-style: none;
}

header {
    width: 90%;
    height: 80px;
    border: 0;
    box-shadow: 2px 3px 5px 0 rgb(196, 191, 191);
    border-radius: 30px;
    margin: 25px auto;
    padding: 5px 30px;
    display: flex;
    position: relative;
    justify-content: space-between;
    left: 0;
    right: 0;
    font-weight: 200;
}


header ul, header h1 {
    padding: 0;
    margin: 0;
    height: 100%;
    line-height: 80px;
}

header li {
    display: inline-block;
    cursor: pointer;
}

/* 로고 */
.header-logo  h1 {
    cursor: pointer;
    color: #53d36b;
}

/* 리스트 */
.header-nav {
    font-size: 24px;
}

.header-nav li {
    margin: 0 35px;
}


/* 로그인/회원가입 */
.header-state li {
    font-size: 18px;
    margin: 0 5px;
}

input {
    margin-left: 20px;
    border: 1px solid #53d36b;
}



/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* 왼쪽 사이드바 */
.sidebar-left {
    display: inline;
    border: 3px solid #53d36b;
    margin-top: 6rem;
    width: 180px;
    height: 20rem;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
}
.sidebar-left-list   {
width: 100%;
padding: 10px;
}
.sidebar-left-list button {
font-family: 'bitbit';
position: relative;
right: 10px;
width: 80%;
padding: 10px;
cursor: pointer;
color: black;
background-color: transparent;
border: none;
font-size: 17px;
border-radius: 13%;
}
.sidebar-left-list li :hover  {
background-color: #53d36b;
color: white;
font-size: 17px;
}

/* 회원정보수정 소제목 */
.small-title {
    border-bottom: 3px solid #53d36b;
    margin-bottom: 60px;
}


/* 내용 틀 */
.container-qna {
    position: relative;
    border: none;
    padding: 20px;
    width: 700px;
    margin-top: 3rem;
    margin-left: 5rem;
}



/* 중간 부분 */
.list-qna-middle {
    margin-top: 50px;
    width: 100%;
}
.list-qna-content{
    margin: 0 auto;
    font-size: 1rem;
}
.list-qna-content p{
margin-right: 0px; 
width: 200px;
}
.content-title, .content2, .content3, .content4, .content5, .content6{
    display: flex;
}
.content-title{
    border-bottom: 2px solid #53d36b;
}



/* 문의 리스트 필드값 */
.list-qna-title {
    word-spacing: 110px;
}

/* 문의추가 버튼 */
.list-qna-button {
    text-align: right;
}

/* 하단 부분 */
.list-qna-bottom {
    display: flex;
    padding-left: 40px;
    margin-top: 20px;
    height: 25px;
}

/* 문의검색 부분 */
.list-qna-search {
    position: relative;
    bottom: 20px;
    right: 60px;
}

/* 페이지 이동버튼 */
.list-qna-pgnum {
    bottom: 20px;
    margin-right: 20px;
    display: flex;
    cursor: pointer;
    justify-content: center;
}
.list-qna-pgnum p {
    margin-left: 10px;
}


/* 맨아래 버튼 */
.button-pw {
    text-align: right;
    margin-top: 100px;
    margin-right: 150px;
}

button {
    margin-left: 20px;
    cursor: pointer;
    color: white;
    background-color: #53d36b;
    border: 1px solid  #53d36b;
    border-radius: 10deg;
    font-size: 1rem;
    border-radius: 13%;
    text-align: center;
    line-height: 1rem;
    padding: 10px;
}


/* 페이지 내용의 리스트 정리 */
.list-qna-page {
    position: relative;
    right: 14px;
    list-style: none;
    word-spacing: 120px;

}


.container {
    display: flex;
    justify-content: center;
}

/*모달창 내용보기*/
.list-qna {
    cursor: pointer;
}


/* 모달창 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* 맨아래 버튼 */
.modal{
    position: absolute;
    top: 20%;
    left: 33%;
    width: 20rem;
    height: 20rem;
    padding: 6rem;
    display: none;
    background-color: #d0d0d0;
    box-shadow: 1px;
    border: 1px solid white;
    border-radius: 30px;
    box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px;
    z-index : 100;
}

.modal2{
    position: absolute;
    top: 20%;
    left: 33%;
    width: 20rem;
    height: 20rem;
    padding: 6rem;
    display: none;
    background-color: #d0d0d0;
    box-shadow: 1px;
    border: 1px solid white;
    border-radius: 30px;
    box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px;
    z-index : 100;
}

.modal_container2{
    position: relative;
    width: 100%;
    bottom: 4rem;
}

.modal.show {
    display: block;
}
.modal_btn {
    margin-top: 30px;
    text-align: center;
}

button {
    cursor: pointer;
    color: white;
    background-color: #53d36b;
    border: 1px solid  #53d36b;
    border-radius: 10deg;
    font-size: 17px;
    border-radius: 13%;
    text-align: center;
    line-height: 17px;
    padding: 10px;
}

input {
    margin-left: 20px;
    border: 1px solid #53d36b;
}


.pagination {
    font-size: 14px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
}

.pagination ul{
    display: flex;
    justify-content: center;
}

.pagination li{
    margin-right: 10px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 30%;
    border: 1px solid #59606c;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
}

.pagination li:hover, .pagination li.active{
    background-color: #53d36b;
    color: white;
}